<!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->

<aside aria-label="Related articles" class="py-8 lg:py-24">
  <div class="px-4 mx-auto max-w-screen-xl">
    <h2 class="mb-8 text-2xl font-bold text-gray-100 dark:text-white">
      Related articles
    </h2>
    <div class="grid gap-12 sm:grid-cols-1 list-none lg:grid-cols-4">
      <article
        class="max-w-xs group relative p-6 rounded-xl shadow-sm hover:shadow-md transition-all duration-200 ease-out border border-gray-100 dark:border-gray-700 hover:border-transparent rounded-lg transition-colors duration-200 hover:bg-gray-200 dark:hover:bg-gray-700"
      >
        <h2
          class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          <a href="#">Our first office</a>
        </h2>
        <p class="mb-4 text-gray-500 dark:text-gray-400">
          Over the past year, Volosoft has undergone many changes! After months
          of preparation.
        </p>
        <a
          href="#"
          class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
        >
          Read in 2 minutes
        </a>
      </article>
      <article
        class="max-w-xs group relative p-6 rounded-xl shadow-sm hover:shadow-md transition-all duration-200 ease-out border border-gray-100 dark:border-gray-700 hover:border-transparent rounded-lg transition-colors duration-200 hover:bg-gray-200 dark:hover:bg-gray-700"
      >
        <h2
          class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          <a href="#">Enterprise design tips</a>
        </h2>
        <p class="mb-4 text-gray-500 dark:text-gray-400">
          Over the past year, Volosoft has undergone many changes! After months
          of preparation.
        </p>
        <a
          href="#"
          class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
        >
          Read in 12 minutes
        </a>
      </article>
      <article
        class="max-w-xs group relative p-6 rounded-xl shadow-sm hover:shadow-md transition-all duration-200 ease-out border border-gray-100 dark:border-gray-700 hover:border-transparent rounded-lg transition-colors duration-200 hover:bg-gray-200 dark:hover:bg-gray-700"
      >
        <h2
          class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          <a href="#">We partnered with Google</a>
        </h2>
        <p class="mb-4 text-gray-500 dark:text-gray-400">
          Over the past year, Volosoft has undergone many changes! After months
          of preparation.
        </p>
        <a
          href="#"
          class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
        >
          Read in 8 minutes
        </a>
      </article>
      <article
        class="max-w-xs group relative p-6 rounded-xl shadow-sm hover:shadow-md transition-all duration-200 ease-out border border-gray-100 dark:border-gray-700 hover:border-transparent rounded-lg transition-colors duration-200 hover:bg-gray-200 dark:hover:bg-gray-700"
      >
        <h2
          class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          <a href="#">Our first project with React</a>
        </h2>
        <p class="mb-4 text-gray-500 dark:text-gray-400">
          Over the past year, Volosoft has undergone many changes! After months
          of preparation.
        </p>
        <a
          href="#"
          class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
        >
          Read in 4 minutes
        </a>
      </article>
    </div>
  </div>
</aside>
